body {
    background-color: black;
}

h1 {
    color: #fff;
}

.ball {
    height: 100px;
    width: 100px;
    margin: 0 auto;
    transition: transform 1s;

    font-size: 22px;
    text-align: center;
    font-weight: bold;

    border-radius: 50%;
    background-color: yellow;
}