body {
    background-color: black;
}

h1 {
    color: #fff;
}

.ball {
    height: 100px;
    width: 100px;
    margin: 0 auto;
    margin-top: 10px;
    transition: transform 1s;

    font-size: 22px;
    text-align: center;
    font-weight: bold;
    line-height: 100px; 

    border-radius: 50%;
    background-color: yellow;
    

}

.second-ball {
    background-color: rgb(62, 193, 202);

}

.third-ball {
    background-color: rgb(111, 62, 202);
}

.fourth-ball {
    background-color: burlywood;
}